doctype html
html(lang='en')  
head  
title= 'WEMOB3'  
meta( name='viewport', content='width=device-width, initial-scale=1' )
body!= body  

h1= enemyName

h2= "Damage: " + enemyData.damage
h2= "Position: " + enemyData.position